body {
  overflow-x: hidden;
}


/*-- -------------------------- -->
<---          Main Vid          -->
<--- -------------------------- -*/


.portfolio {
  max-width: 1200px;
  margin: 0 auto;   
}

.portfolio-top {
    text-align: left;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .portfolio-top {
        flex-direction: column;
    }
  }

.lark-tank-iframe {
    height: 25vw;
    aspect-ratio: 16 / 9;
    align-self: center;
    border: #1a1a1a;
    border-width: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.lark-grey-bar {
  position: absolute; 
  z-index: -1;
  left: -50%; 
  width: 200%; 
  height: 50%;
  top: 75%;
  background: #e2e3e4;
}

.larktank-container {
    border: 3px solid #000000;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(
        335deg,
        rgba(30, 48, 243, 1.0) 0%,   /* #1e30f3 at 75% opacity */
        rgba(var(--bs-secondary-rgb), 1.0) 100% /* secondary color at 75% opacity */
    );
    color: #ffffff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 767px) {
    .lark-tank-iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;\
    }
}

.text-section {
  padding: 1rem;
}

/*-- -------------------------- -->
<---        Box Section         -->
<--- -------------------------- -*/

.transparent-box {
  width: 20rem;
  filter:drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.5));
  
}

.box-card-text {
  padding-right: 5rem;
}

.box-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/* Mobile - 991px */
@media only screen and (max-width: 991px) {
  .box-img-outer {
    visibility: hidden;
    height: 0px;
  }
  .box-card-text {
    padding-right: 0rem;
  }
  .box-box {
    display: block;
  }
}

/* Mobile - 649px */
@media only screen and (max-width: 649px) {
  .box-img-outer {
    visibility: hidden;
    height: 0px;
  }
  .box-card-text {
    padding-right: 0rem;
  }
  .box-box {
    display: block;
  }
  .p-5 {
    padding: 2rem !important;
    padding-top: 3rem !important;
  }
}



/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/


.demo-vid {
    overflow: hidden;
    aspect-ratio: 9/16;
    border-radius: 1rem !important;
    z-index: 1;
    position: relative;
  }
  .demo-text-1 {
    flex: 0 0 auto;
    width: 55.66666667%;
    font-size: 0.95rem;
    z-index: 1;
  }
  .demo-text-2 {
    flex: 0 0 auto;
    width: 55.66666667%;
    font-size: 0.95rem;
  }


@media only screen and (min-width: 650px) {
  .demo-text-1 {
    transform: translateY(-4.5em);
    z-index: 1;
  }
  .demo-text-2 {
    transform: translateY(-1.5em);
    z-index: 1;
  }
  .demo-vid-wrapper-2 {
    transform: translateY(-6em);
    z-index: 1;
  }
  .L-I-N-E{
    width: 100%;
    height: 10em;
    background: #f1f10f;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: calc(2rem);
    z-index: 0;
    opacity: .5;
  }
  .L-I-N-E-2{
    width: 100%;
    height: 10em;
    background: #f60b0b;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: calc(23rem);
    z-index: 0;
    opacity: .3;
  }
  .explanation-text {
    text-align: right;
    width: 40%;
    flex: 0 0 auto;
    font-size: 0.95rem;
  }
  
}
/* Small Desktop  */
@media only screen and (min-width: 767px) {
  .L-I-N-E{
    top: calc(2rem);
  }
  .L-I-N-E-2{
    top: calc(30rem);
  }
  .demo-text-1 {
    transform: translateY(-9.5em);
  }
  .demo-text-2 {
    transform: translateY(-8em);
  }
  .demo-vid-wrapper-2 {
    transform: translateY(-13em);
  }
}
/* Small Desktop  */
@media only screen and (min-width: 992px) {
  .L-I-N-E{
    top: calc(4rem);
  }
  .L-I-N-E-2{
    top: calc(37rem);
  }
  .demo-text-1 {
    transform: translateY(-10.5em);
    text-align: right;
  }
  .demo-text-2 {
    transform: translateY(-10em);
    text-align: left;
  }
  .demo-vid-wrapper-2 {
    transform: translateY(-20em);
  }
  .cam-demo-box {
    margin-bottom: -15rem;
  }
}

@media only screen and (min-width: 1400px) {
  .L-I-N-E{
    top: calc(4rem);
  }
  .L-I-N-E-2{
    top: calc(39rem);
  }
}
  
/* Mobile - 649px */
@media only screen and (max-width: 649px) {
  .cam-demo-box {
    display: flex;
    flex-direction: column;
  }
  
  .demo-vid-wrapper-1 {
    order: 1;
    width: 100%;
  }
  .demo-vid-wrapper-2 {
    order: 3;
    width: 100%;
  }
  .demo-vid{
    width: 100%;
    justify-self: center;
  }
  .demo-text-1 {
    order: 0;
    text-align: center;
    width: 100%;
  }
  .demo-text-2 {
    order: 2;
    width: 100%;
    text-align: center;
  }
  .explanation-card {
    flex-direction: column;
  }
  .explanation-text {
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
    font-size: 0.95rem;
  }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
